.Admin-navbar{
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
}
.Admin-navbar .navbar-brand{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #3E4095;
    text-transform: uppercase;
}
.Admin-navbar .navbar-brand .logo-fluid{
    width: 8%;
    padding-right: 10px;
}
.Admin-navbar ul{
    list-style: none;
}
.Admin-navbar ul li{
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.Admin-navbar ul .buttons{
    float: right;
    width: 50%;
}
.Admin-navbar ul .buttons .btn{
    font-size: 14px;
    font-weight: 500;
    border-radius: 1px;
    padding: 5px 15px;
    color: #ffffff;

    box-shadow: -1px 1px 2px 1px rgba(69,69,69,0.75);
    -webkit-box-shadow: -1px 1px 2px 1px rgba(69,69,69,0.75);
    -moz-box-shadow: -1px 1px 2px 1px rgba(69,69,69,0.75);
}


