/*Dashboard Index Styles*/
.Dashboard{
    margin-top: 5%;
}
.Dashboard h3{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    color: #3E4095;
    text-align: center;
    margin-bottom: 2%;
}
.Card-box{
    margin: 20px 10px 50px 10px;
    padding: 30px 20px;
    background: #ffffff;

    box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
}

.Card-box .text{
    float: right;
    width: 70%;
}
.Card-box .img-fluid{
    width: 20%;
}
.Card-box .text h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3E4095;
}
.Card-box .text p {
    font-size: 14px;
    font-weight: 400;
    color: #939694;
}

/*Profile Styles*/
.Profile h5{
    float: left;
    width: 10%;
    font-size: 18px;
    color: #3E4095;
}
.Profile .btn{
    font-size: 16px;
    border-radius: 0px;
}
.Profile-form{
    margin-top: 50px;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #61dafb;
}
.Profile-form input{
    height: 70px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    background: #e7e6ff;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;

    box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
}
.Profile-form input::placeholder{
    color: #adadad;
}

.Profile-form .form-group .btn{
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    background: #3E4095;
    border: 1px solid #3E4095;

    box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
}
.Profile-form .form-group .btn-primary {
    background: #3E4095;
    border: 1px solid #3E4095;
}
.Profile-form .form-group .btn-success {
    background: #309634;
    border: 1px solid #309634;
}

.Profile-form select{
    height: 70px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    background: #e7e6ff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;

    box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
}

.Product h4{
    font-size: 20px;
    font-weight: 700;
    color: #3E4095;
    margin: 10px 0;
}
.Product .Form-product{
    margin: 10px;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #61dafb;
}
.Product .Form-product h5{
    font-size: 17px;
    float: left;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
    text-transform: capitalize;
}
.Product .Form-product h6{
    font-size: 15px;
    font-weight: 700;
    color: #3E4095;
    text-transform: uppercase;
}
.Product .Form-product input{
    font-size: 14px;
}
.Product .Form-product select{
    font-size: 14px;
    color: #222222;
}
.Product .Form-product option{
    font-size: 14px;
    color: #222222;
}
.Product .Form-product textarea{
    font-size: 14px;
}

/*category list*/
.Category-box{
    margin: 10px 10px 50px 10px;
    padding: 20px 20px;
    background: #ffffff;
    height: 150px;

    box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
}

.Category-box h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3E4095;
}
.Category-box p {
    font-size: 14px;
    font-weight: 400;
    color: #939694;
}
.No-category {
    margin-top: 5%;
    text-align: center;
}
.No-category h5 {
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #3E4095;
    margin-bottom: 30px;
}
.No-category .img-fluid{
    width: 40%;
}

/*categories style section*/
.Category{
    margin-top: 3%;
}
.Category .head-text{
   padding: 10px 20px;
}
.Category .head-text h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #3E4095;
    font-weight: 700;
    float: left;
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
}
.Category .head-text .right-button{
    text-align: right;
}
.Category .head-text .right-button .btn-success{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    color: #3E4095;
    background: #ffffff;
    border: 1px solid #3E4095;
    border-radius: 0px;
    padding: 8px 20px;
    margin-bottom: 20px;

    box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -moz-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
}

.Category .Form-category{
    margin: 5px 20px;
    padding: 40px 40px;
    border-radius: 0px;
    border: 0px solid #61dafb;

    box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);

}

.Category .Form-category .form-group input{
    height: 50px;
    border-radius: 0px;
    font-size: 15px;

    box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
}

.Category .Form-category .form-group textarea{
    height: 100%;
    border-radius: 0px;
    font-size: 15px;

    box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
}
.Category .Form-category .form-group input,textarea::placeholder{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.Category .Form-category .form-group.button{
    margin: auto;
    text-align: center;
}
.Category .Form-category button.btn{
    margin-top: 10px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffffff;
    background: #3E4095;
    border: 1px solid #3E4095;
    border-radius: 0px;
    letter-spacing: 1px;
    height: 40px;
    width: 80%;

    box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -moz-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
}
.Category .Form-category h5{
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
    text-align: center;
}
.Category .Form-category h6{
    font-size: 15px;
    font-weight: 700;
    color: #3E4095;
    text-transform: uppercase;
}

/* Product Styles */

.Product{
    margin-top: 3%;
    margin-bottom: 5%;
}
.Product .head-text{
    padding: 10px 20px;
}
.Product .head-text h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #3E4095;
    font-weight: 700;
    float: left;
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
}
.Product .head-text .right-button{
    text-align: right;
}
.Product .head-text .right-button .btn-success{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    color: #3E4095;
    background: #ffffff;
    border: 1px solid #3E4095;
    border-radius: 0px;
    padding: 8px 20px;
    margin-bottom: 20px;

    box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -moz-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
}

.Product .Form-product{
    margin: 5px 20px;
    padding: 40px 40px;
    border-radius: 0px;
    border: 0px solid #61dafb;

    box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(217,215,253,0.75);

}

.Product .Form-product .form-group input{
    height: 40px;
    border-radius: 0px;
    font-size: 14px;

    box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
}

.Product .Form-product .form-group select{
    height: 40px;
    border-radius: 0px;
    font-size: 14px;

    box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
}

.Product .Form-product .form-group .label{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #3E4095;
}

.Product .Form-product .form-group textarea{
    height: 100%;
    border-radius: 0px;
    font-size: 15px;

    box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(212,212,212,0.75);
}
.Product .Form-product .form-group input,select,textarea::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.Product .Form-product .form-group.button{
    margin: auto;
    text-align: center;
}
.Product .Form-product button.btn{
    margin-top: 10px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #ffffff;
    background: #3E4095;
    border: 1px solid #3E4095;
    border-radius: 0px;
    letter-spacing: 1px;
    height: 40px;
    width: 80%;

    box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
    -moz-box-shadow: 2px 2px 2px 1px rgba(78,78,79,0.75);
}
.Product .Form-product h5{
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
    text-align: center;
}
.Product .Form-product h6{
    font-size: 15px;
    font-weight: 700;
    color: #3E4095;
    text-transform: uppercase;
}


/*product card styles*/
.Product-card{
    margin: 10px 5px;
    border-radius: 0px;
    border: 1px solid transparent;

    box-shadow: 3px 3px 4px 1px rgba(36,35,35,0.75);
    -webkit-box-shadow: 3px 3px 4px 1px rgba(36,35,35,0.75);
    -moz-box-shadow: 3px 3px 4px 1px rgba(36,35,35,0.75);
}
.Product-card .card-img-top{
    width: 100%;
    height: 200px;
}
.Product-card .card-body{
    padding: 10px;
}
.Product-card h6{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #3E4095;
}
.Product-card .Price{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.Product-card .Price-one{
    float: left;
    width: 50%;
    margin-bottom: 0;
}
.Product-card .Price-two{
    color: #939694;
    text-decoration: line-through;
    margin-bottom: 0;

}
.Product-card .buttons{
    width: 100%;
}
.Product-card .buttons .btn{
    border: 1px solid transparent;
    border-radius: 0px;
    color: #ffffff;
    font-size: 14px;
}
.Product-card .buttons .btn.btn-primary{
    width: 40%;
    background: #3E4095;
    float: left;
}
.Product-card .buttons .btn.btn-danger{
    width: 40%;
    background: #cc0606;
    float: right;
}

.Prod-head h6{
  font-size: 14px;
    font-weight: 600;
}
.info{
    font-size: 12px;
    font-weight: 500;
}
