.Profile h5{
    float: left;
    width: 50%;
    font-size: 18px;
    color: #3E4095;
}
.Profile .btn{
    font-size: 16px;
    border-radius: 0px;
}
.Profile-form{
    margin-top: 50px;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #61dafb;
}
.Profile-form input{
    height: 70px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    background: #e7e6ff;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;

    box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
}
.Profile-form input::placeholder{
    color: #adadad;
}

.Profile-form .form-group .btn{
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    background: #3E4095;
    border: 1px solid #3E4095;

    box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 0px 2px 3px 1px rgba(100,100,100,0.75);
}
.Profile-form .form-group .btn-primary {
    background: #3E4095;
    border: 1px solid #3E4095;
}
.Profile-form .form-group .btn-success {
    background: #309634;
    border: 1px solid #309634;
}

.Profile-form select{
    height: 70px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    background: #e7e6ff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;

    box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -webkit-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
    -moz-box-shadow: 3px 3px 4px 1px rgba(100,100,100,0.75);
}

.Product h4{
    font-size: 20px;
    font-weight: 700;
    color: #3E4095;
    margin: 10px 0;
}
.Product .Form-product{
    margin: 10px;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #61dafb;
}
.Product .Form-product h5{
    font-size: 17px;
    float: left;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
    text-transform: capitalize;
}
.Product .Form-product h6{
    font-size: 15px;
    font-weight: 700;
    color: #3E4095;
    text-transform: uppercase;
}
.Product .Form-product input{
    font-size: 14px;
}
.Product .Form-product select{
    font-size: 14px;
    color: #222222;
}
.Product .Form-product option{
    font-size: 14px;
    color: #222222;
}
.Product .Form-product textarea{
    font-size: 14px;
}
.Category h4{
    font-size: 20px;
    font-weight: 700;
    color: #3E4095;
    margin: 20px 0;
}
.Category .Form-category{
    margin: 10px 20px;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #61dafb;
}
.Category .Form-category h5{
    font-size: 17px;
    float: left;
    font-weight: 700;
    color: #222;
    margin-right: 10px;
    text-transform: capitalize;
}
.Category .Form-category h6{
    font-size: 15px;
    font-weight: 700;
    color: #3E4095;
    text-transform: uppercase;
}
.Product-card{
    margin: 10px;
}
.Product-card .card-img-top{
    width: 100%;
    height: 200px;
}
.Product-card .card-body{
    padding: 10px;
}
.Product-card h6{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #3E4095;
}
.Product-card .Price{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.Product-card .Price-one{
    float: left;
    width: 50%;

    margin-bottom: 0;
}
.Product-card .Price-two{
    color: #939694;
    text-decoration: line-through;

    margin-bottom: 0;
}
.Product-card .buttons .btn{
    border: 1px solid transparent;
    border-radius: 0px;
}
.Product-card .buttons .btn-primary{
    float: left;
    width: 40%;
    margin-right: 10px;
}
.Product-card .buttons .btn-danger{
    width: 40%;
}
.Prod-head h6{
  font-size: 14px;
    font-weight: 600;
}
.info{
    font-size: 12px;
    font-weight: 500;
}
