.Form {
    border: 2px solid #3E4095;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15%;
}
.Form h5{
    font-size: 20px;
    font-weight: 700;
    color: #3E4095;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.Form label{
    font-size: 16px;
    font-weight: 600;
    color: #3E4095;
}
.Form input{
    height: 40px;
    border: 1px solid #3E4095;
}
.Form .button{
    text-align: center;
}
.Form .btn{
    width: 100%;
    background: #3E4095;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.Form .forget{
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: red;
}
