
/* ================== HELPERS =================== */
.table thead th {
    color: #adb5bd;
    font-weight: 400;
}

.table-lg td, .table-lg th {
    padding: 0.8rem 1rem;
}

.screen-overlay {
    width: 0%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}

.screen-overlay.show {
    transition: opacity 0.5s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
}

/* =================  DEFINED VARIABLES =================== */
.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.icon-xs {
    width: 32px;
    height: 32px;
    line-height: 32px !important;
    font-size: 16px;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
}

.icon-md {
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: 28px;
}

.icon-lg {
    width: 96px;
    height: 96px;
    line-height: 96px !important;
    font-size: 42px;
}

.img-avatar {
    border-radius: 100%;
    border: 2px solid #fff;

    box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
}

.img-xs, .img-sm, .img-md, .img-lg {
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
}

.img-xs {
    width: 40px;
    height: 40px;
}

.img-sm {
    width: 60px;
    height: 60px;
}

.img-md {
    width: 112px;
    height: 112px;
}

.img-lg {
    width: 196px;
    height: 196px;
}

.center-xy {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.center-y {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.center-x {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

/* ================== BASE =================== */
body{
    position: relative;
    min-height: 100vh;
}
body.offcanvas-active {
    overflow: hidden;
}

.main-wrap{
    margin-left: 260px;
}


/* ================== icon text styles =================== */
.icontext {
    display: inline-flex;
    align-items: center;
}
.icontext .icon {
    position: relative;
    flex-shrink: 0;
    margin-right: 10px;
}
.icontext small, .icontext .title {
    display: block;
}


.No-category {
    margin-top: 5%;
    text-align: center;
}
.No-category h5 {
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #3E4095;
    margin-top: 10%;
    margin-bottom: 30px;
}
.No-category .img-fluid{
    width: 40%;
}

/*account settings form*/
.content-body .account-form{
    border: 0px solid #3E4095;
    padding: 40px 20px;
    border-radius: 5px;

    box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
}
.content-body .account-form .form-group{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 30px;
}
.content-body .account-form .form-group label{
    font-size: 16px;
    font-weight: 600;
    color: #3E4095;
}
.content-body .account-form .form-group .form-control{
    width: 70%;
    margin-left: 10px;
    border-radius: 1px;
    border: 0px solid #3E4095;
    border-bottom: 1px solid #3E4095;
}

.content-body .account-form .form-group .form-control:focus{
    outline: none;
    box-shadow: none;
}
.content-body .account-form .button-save{
    margin-top: 0;
    text-align: center;
}

.content-body .account-form .button-save .btn{
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background: #3E4095;
    border: 1px solid transparent;
    padding: 8px 30px;

}



/*store settings form*/
.content-body .store-form{
    border: 0px solid #3E4095;
    padding: 40px 20px;
    border-radius: 5px;

    box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
}
.content-body .store-form .form-group{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 30px;
}
.content-body .store-form .form-group label{
    font-size: 16px;
    font-weight: 600;
    color: #3E4095;
}

.content-body .store-form .form-group label.facebook{
    color: #4267B2;
}

.content-body .store-form .form-group label.instagram{
    color: #C13584;
}

.content-body .store-form .form-group label.twitter{
     color: #1DA1F2;
 }

.content-body .store-form .form-group .form-control{
    width: 70%;
    margin-left: 10px;
    padding-bottom: 2px;
    border-radius: 1px;
    border: 0px solid #3E4095;
    border-bottom: 1px solid #3E4095;
}

.content-body .store-form .form-group textarea.form-control{
    width: 70%;
    margin-left: 10px;
    border-radius: 1px;
    border: 1px solid #3E4095;
}

.content-body .store-form .form-group .form-control:focus{
    outline: none;
    box-shadow: none;
}
.content-body .store-form .button-save{
    margin-top: 0;
    text-align: center;
}

.content-body .store-form .button-save .btn{
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background: #3E4095;
    border: 1px solid transparent;
    padding: 8px 30px;

}
.content-body .store-form .form-group.logo-image{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 30px;
}
.content-body .store-form .form-group .logo-container{
    height: 150px;
    width: 250px;
    cursor: pointer;
    margin-left: 80px;
}

.content-body .store-form .form-group .logo-container .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1px;
    border: 0px solid #3E4095;

    box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(168,168,168,0.75);
}
