.auth-tab ul{
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}
.auth-tab ul li{
    display: inline-block;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #525252;
    cursor: pointer;
}
.auth-tab ul li .not-active{
    background: #7d7d7d;
    padding: 10px 15px;
    color: #ffffff;
}
.auth-tab ul li .not-active:hover{
    background: #525252;
}
.auth-login{
    padding: 0px 40px;
}
.auth-login h5{
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    padding: 0px 0 20px;
}
.auth-login .form-group{
    margin-bottom: 30px;
}
.auth-login .form-group.button{
    text-align: center;
}
.auth-login .form-group label{
    font-weight: 600;
    font-size: 14px;
    color: #2e2e2e;
}
.auth-login .form-group .form-control{
    border-radius: 1px;
    height: 45px;

}
.auth-login .form-group.button p{
    font-size: 13px;
    color: #7d7d7d;
    text-align: left;
}
.auth-login .form-group.button .btn{
    width: 80%;
    font-size: 15px;
    color: #ffffff;
    border-radius: 1px;
    border: 1px solid #525252;
    background: #525252;
    padding: 12px;
}
.auth-login .form-group.button .btn:hover{
    border-radius: 1px;
    border: 1px solid #525252;
    background: #222222;
}
