/*shop navheader styles*/

.Nav-header{
    padding: 10px 5px 5px;
}
.Nav-header .Socials ul{
    list-style: none;
}
.Nav-header .Socials ul li{
  display: inline-block;
    margin-left: 20px;
}
.Nav-header .Socials ul li .Socials-link{
    color: #2e2e2e;
    text-decoration: none;
}

.Nav-header .Account-nav ul{
    list-style: none;
    float: right;
    width: 60%;
}
.Nav-header .Account-nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    text-transform: uppercase;
}
.Nav-header .Account-nav ul li .Account-link{
    color: #2e2e2e;
    text-decoration: none
;
}
.Nav-header .Account-nav ul li .Account-link .cart-count{
    padding-left: 10px;
}
/*Shop Header Styles*/
.Header{
    padding: 5px 10px 1px;
    background: #2e2e2e;

}
.Header ul{
    list-style: none;
    text-align: center;
}

.Header .NavBrand{
    padding-top: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}


.Header .logo-fluid{
    width: 8%;
    border-radius: 50%;
    background: #ffffff;
    padding: 2px;
    margin-right: 10px;

    box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
    -webkit-box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
    -moz-box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
}


/*Shop Footer Styles*/
.Footer {
    padding: 10px 10px 1px;
    margin-top: 2%;
    background: #2e2e2e;
    text-align: center;
}
.Footer p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-transform: lowercase;
}

/*Shop Category Section Styles*/
.Category-section{
    padding: 15px 10px 0px 10px;
    text-align: center;
    background: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdbebf;
}
.Category-section ul{
    list-style: none;
}
.Category-section ul li{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;


}
.Category-section ul li .Category-link{
    text-decoration: none;
    color: #222222;
}

.Category-section ul li .Category-link:hover{
    background: #d4d4d4;
    padding: 15px;
}

.Category-section ul li .fas{
    padding-left: 5px;
}

.Categories ul{
    list-style: none;
}
.Categories ul li{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #939694;
}


/*Shop Products Section Styles*/

.Shop-products .small{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}


/*Shop Product Card Section Styles*/
.Shop-product-card{
    margin: 10px;
    border-radius: 0;
    border: 0px solid #939694;
    box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);

}
.Shop-product-card:hover{
    box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
}
.Shop-product-card .Product-card-link{
    text-decoration: none;
    height: 200px;
}
.Shop-product-card .card-img-top{
    max-width: 100%;
    max-height: 100%;
}
.Shop-product-card .card-body{
    padding: 10px;
    height: 80px;
}
.Shop-product-card h6{
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #3E4095;
}
.Shop-product-card .Price{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.Shop-product-card .Price-one{
    float: left;
    width: 50%;
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 0;
}
.Shop-product-card.Price-two{
    color: #939694;
    text-decoration: line-through;
    margin-bottom: 0;
}

.Shop-product-card .buttons .btn{
    border: 1px solid transparent;
    border-radius: 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    letter-spacing: 1px;
    background: #7d7d7d;
}
.Shop-product-card .buttons .btn:hover{
    background: #525252;
}

/*Quick View text styles*/
.Quick-view{
   margin: 0;
    background: #ffffff;
    padding: 10px 20px 0px;
    border-radius: 5px;
    text-align: center;
}
.Quick-view .Image-box{
    height: 510px;
    width: 100%;
}

.Quick-view .Image-box .img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.Quick-view .Image-box .Thumb-nails{
    list-style: none;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li{
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li:hover{
    background: #939694;
    cursor: pointer;
    opacity: 0.6;
}

.Quick-view .Image-box .thumb{
    margin: 0;
    padding: 0;
}
.Quick-view .Image-box .main{
    margin: 0;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li .img-fluid{
    width: 100%;
}
.Quick-view-text h5{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #7d7d7d;
}

.Quick-view-text h6{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #2e2e2e;
}


.Quick-view-text h6 .discount-price{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #939694;
    margin-left: 30px;
    text-decoration: line-through;
}
.Quick-view-text p{
    margin-top: 10px;
    font-size: 13px;
    color: #525252;
    text-align: center;
}
.Quick-view-text .btn-contact{
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 20px;
    background: #525252;
    border: 1px solid #525252;
}
.Quick-view-text .margin-break{
    margin-bottom: 40px;
}

.Quick-view-text .btn-contact:hover{
    background: #222222;
}

.Quick-view-text .contact-buttons{
    margin-top: 20px;
}
.Quick-view-text .contact-buttons ul{
    list-style: none;
}
.Quick-view-text .contact-buttons ul li{
    padding-bottom: 15px;
}
.Quick-view-text .contact-buttons ul li a{
    text-decoration: none;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 600;
}
.Quick-view-text .contact-buttons ul li .btn{
    border: 0px solid #7d7d7d;
    width: 40%;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;

    box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
    -moz-box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
}
.btn-whatsapp{
    background: #128C7E;
}

.btn-facebook{
    background: #4267B2;
}

.btn-twitter{
    background: #1DA1F2;
}

.btn-instagram{
    background: #C13584;
}



/** MODAL_STYLES FOR Quick View */
.Modal-one{
    text-align: center;
    width: 100%;
    margin: auto;
}

.Qv-Modal-styles {
    position: fixed;
    top: 12%;
    left: 15%;
    right: 0%;
    bottom: 1%;
    margin: auto;
    justify-content: center;
    transform: translate(-10%, -10%);
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    width: 80%;
    z-index: 1000;
    max-height: 100%;

}

.Overlay-styles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

Qv-Modal-styles .Close-button .fas{
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

}

.Close-button .btn {
    float: right;
    position: relative;
    right: -10px;
    top: -10px;
    text-align: center;
    background-color: #222222;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
}
/*cart page bread crumb styles */
.bread-crumb{
    text-align: center;
}
.bread-crumb ul{
    padding: 10px 0;
    list-style: none;
    font-size: 13px;
    color: #adadad;
    text-transform: uppercase;
}
.bread-crumb ul li{
    display: inline-block;
    margin: 3px 10px;
}
.bread-crumb ul li .bread-crumb-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #adadad;
    font-weight: 500;
}

/*cart page styles*/
.Cart-page{
    padding: 10px;
}
.Cart-page .cart-title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}
.Cart-page .table-section .table{
    background: #ffffff;
}
.Cart-page .table-section .table th{
    font-size: 14px;
    color: #525252;
}

.Cart-page .table-section .table .th-product{
 width: 70%;
}
.Cart-page .table-section .table tbody .Img-box{
    float: left;
    width: 120px;
    height: 150px;
}
.Cart-page .table-section .table tbody .Img-box .img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.Cart-page .table-section .table tbody td p{
    font-size: 14px;
    color: #525252;
    margin-top: 50px;
}
/*category page styles*/
.Category-page .bread-crumb ul{
    padding: 10px 0;
    list-style: none;
    font-size: 13px;
    color: #adadad;
    text-transform: uppercase;
}
.Category-page .bread-crumb ul li{
    display: inline-block;
    margin: 3px 10px;
}
.Category-page .bread-crumb ul li .bread-crumb-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #adadad;
    font-weight: 500;
}
.Category-page .category-title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}


/*more in this collection styles*/
.More-collection{
    margin-top: 5%;
    padding: 20px;
}
.More-collection h5{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

/*.Prod-head h6{*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*}*/
/*.info{*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*}*/
