/*shop navheader styles*/

.Nav-header{
    padding: 10px 5px 5px;
}

/*Shop Header Styles*/
.Header{
    padding: 5px 10px 0px;
    background: #2e2e2e;

}
.Header ul{
    list-style: none;
    padding-bottom: 0px;
}

.Header .NavBrand{
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}


.Header .logo-fluid{
    width: 7%;
    border-radius: 50%;
    background: #ffffff;
    padding: 1px;
    margin-right: 10px;

    box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
    -webkit-box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
    -moz-box-shadow: -1px 1px 7px 1px rgba(176,174,174,0.75);
}


.Header .Account-nav ul{
    list-style: none;
    padding-top: 10px;
    float: right;
    width: 60%;
    padding-bottom: 0px;
}
.Header .Account-nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
}
.Header .Account-nav ul li .Account-link{
    color: #ffffff;
    text-decoration: none
;
}
.Header .Account-nav ul li .Account-link .cart-count{
    padding-left: 10px;
}

/*Shop Footer Styles*/
.Footer {
    padding: 20px 40px 20px;

    background: #2e2e2e;
}
.Footer p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;

}


.Footer .Socials ul{
    list-style: none;
    text-align: right;
}
.Footer .Socials ul li{
    display: inline-block;
    margin-right: 20px;
}
.Footer .Socials ul li .Socials-link{
    color: #ffffff;
    text-decoration: none;
}

/*Shop Category Section Styles*/

.Shop-hero{
   height: 450px;
    padding: 10px 50px;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}
.Shop-hero .img-fluid{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    background: #2e2e2e;
}
.Shop-hero h1{

    position: absolute;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 45px;
    color: #ffffff;
    word-wrap: break-word;
   top: 50%;
    left: 15%;
    z-index: 1000;
    text-transform: uppercase;
}
.Category-section{
    text-align: center;
    padding: 50px 20px 10px;

    border: 0px solid #2e2e2e;
}
.Category-section .btn{
    background: #ffffff;
    color: #2e2e2e;
    border: 0px solid #2e2e2e;
    font-size: 14px;
    font-weight: 600;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;

    box-shadow: 2px 2px 1px 1px rgba(143,143,143,0.75);
    -webkit-box-shadow: 2px 2px 1px 1px rgba(143,143,143,0.75);
    -moz-box-shadow: 2px 2px 1px 1px rgba(143,143,143,0.75);
}
.Category-section ul{
    list-style: none;
}
.Category-section ul li{
    display: grid;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.Category-section ul li .Category-link{
    text-decoration: none;
    color: #222222;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
}

.Category-section ul li .Category-link:hover {
    background: #d4d4d4;
    padding: 5px 5px;
}

.Category-section ul li .fas{
    padding-left: 5px;
}

.Categories ul{
    list-style: none;
}
.Categories ul li{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #939694;
}


/*Shop Products Section Styles*/

.Shop-products .small{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}
.Shop-products .our-prod{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}


/*Shop Product Card Section Styles*/
.Shop-product-card{
    margin: 10px 0px 30px;
    border-radius: 0;
    border: 0px solid #939694;
    box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(181,181,181,0.75);
}
.Shop-product-card:hover{
    box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(201,201,201,0.75);
}
.Shop-product-card .Product-card-link{
    text-decoration: none;
    height: 200px;
}
.Shop-product-card .card-img-top{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.Shop-product-card .card-body{
    padding: 10px;
    height: 80px;
}
.Shop-product-card h6{
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #3E4095;
}
.Shop-product-card .Price{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.Shop-product-card .Price-one{
    float: left;
    width: 50%;
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 0;
}
.Shop-product-card.Price-two{
    color: #939694;
    text-decoration: line-through;
    margin-bottom: 0;
}

.Shop-product-card .buttons .btn{
    border: 1px solid transparent;
    border-radius: 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    letter-spacing: 1px;
    background: #7d7d7d;
}
.Shop-product-card .buttons .btn:hover{
    background: #525252;
}

/*Quick View text styles*/
.Quick-view{
   margin: 0;
    background: #ffffff;
    padding: 10px 20px 0px;
    border-radius: 5px;
    text-align: center;
}
.Quick-view .Image-box{
    height: 510px;
    width: 100%;
}

.Quick-view .Image-box .img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.Quick-view .Image-box .Thumb-nails{
    list-style: none;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li{
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li:hover{
    background: #939694;
    cursor: pointer;
    opacity: 0.6;
}

.Quick-view .Image-box .thumb{
    margin: 0;
    padding: 0;
}
.Quick-view .Image-box .main{
    margin: 0;
    padding: 0;
}
.Quick-view .Image-box .Thumb-nails li .img-fluid{
    width: 100%;
}
.Quick-view-text h5{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #7d7d7d;
}

.Quick-view-text h6{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #2e2e2e;
}
.Quick-view-text p.input{
    justify-content: center;
    margin-left: 45%;

}
.Quick-view-text input{
    width: 80px;
    height: 50px;
}

.Quick-view-text h6 .discount-price{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: #939694;
    margin-left: 30px;
    text-decoration: line-through;
}
.Quick-view-text p{
    margin-top: 10px;
    font-size: 13px;
    color: #525252;
    text-align: center;
}
.Quick-view-text .btn-contact{
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 20px;
    background: #525252;
    border: 1px solid #525252;
}
.Quick-view-text .margin-break{
    margin-bottom: 40px;
}

.Quick-view-text .btn-contact:hover{
    background: #222222;
}

.Quick-view-text .contact-buttons{
    margin-top: 20px;
}
.Quick-view-text .contact-buttons ul{
    list-style: none;
}
.Quick-view-text .contact-buttons ul li{
    padding-bottom: 15px;
}
.Quick-view-text .contact-buttons ul li a{
    text-decoration: none;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 600;
}
.Quick-view-text .contact-buttons ul li .btn{
    border: 0px solid #7d7d7d;
    width: 40%;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;

    box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
    -moz-box-shadow: 2px 2px 3px 1px rgba(140,138,138,0.75);
}
.btn-whatsapp{
    background: #128C7E;
}

.btn-facebook{
    background: #4267B2;
}

.btn-twitter{
    background: #1DA1F2;
}

.btn-instagram{
    background: #C13584;
}



/** MODAL_STYLES FOR Quick View */
.Modal-one{
    text-align: center;
    width: 100%;
    margin: auto;
}

.Qv-Modal-styles {
    position: fixed;
    top: 12%;
    left: 15%;
    right: 0%;
    bottom: 1%;
    margin: auto;
    justify-content: center;
    transform: translate(-10%, -10%);
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    width: 80%;
    z-index: 1000;
    max-height: 100%;

}

.Overlay-styles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

Qv-Modal-styles .Close-button .fas{
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

}

.Close-button .btn {
    float: right;
    position: relative;
    right: -10px;
    top: -10px;
    text-align: center;
    background-color: #222222;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
}
/*cart page bread crumb styles */
.bread-crumb{
    text-align: center;
}
.bread-crumb ul{
    padding: 10px 0;
    list-style: none;
    font-size: 13px;
    color: #adadad;
    text-transform: uppercase;
}
.bread-crumb ul li{
    display: inline-block;
    margin: 3px 10px;
}
.bread-crumb ul li .bread-crumb-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #adadad;
    font-weight: 500;
}

/*cart page styles*/
.Cart-page{
    padding: 20px 60px;
}
.Cart-page .cart-title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}
.Cart-page .table-section .table{
    background: #ffffff;
}
.Cart-page .table-section .table th{
    font-size: 14px;
    color: #525252;
    text-align: center;
}

.Cart-page .table-section .table .th-product{
 width: 60%;
}
.Cart-page .table-section .table .th-delete{
     width: 5%;
 }
.Cart-page .table-section .table .th-price{
    width: 15%;
}
.Cart-page .table-section .table th{
    width: 5%;
}
.Cart-page .table-section .table tbody .Img-box{
    float: left;
    width: 120px;
    height: 150px;
}
.Cart-page .table-section .table tbody .Img-box .img-fluid{
    max-width: 100%;
    max-height: 100%;
}

.Cart-page .table-section .table tbody td p{
    font-size: 14px;
    color: #525252;
    margin-top: 40px;
}
.Cart-page .table-section .table tbody td .btn-outline{
    color: #525252;
    margin-top: 30px;
}
.Cart-page .table-section .table tbody td p.prod-name{
    text-align: left;
}
.Cart-page .table-section .table tbody td p{
    text-align: center;
}
.Cart-page .table-section .table tbody td p .far{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.Cart-page .table-section .table tbody td.input p{
    text-align: center;
    font-weight: 700;
}
.Cart-page .table-section .table tbody td .form-control{
    height: 40px;
    width: 50px;
    text-align: center;
    padding: 2px 5px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 1px;
}
.Cart-page .table-section .table tbody .total td p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 15px;
}

.Cart-page .Checkout-buttons p{
    font-weight: 600;
    font-size: 14px;
}
.Cart-page .Checkout-buttons textarea{
    font-weight: 600;
    font-size: 14px;
    border-radius: 1px;
}
.Cart-page .Checkout-buttons .continue-link{
    font-weight: 600;
    font-size: 15px;
    color: #2e2e2e;
    text-align: right;
    text-decoration: none;
    float: right;
    margin-top: 10%;
}
.Cart-page .Checkout-buttons .btn-secondary{

    border: 1px solid transparent;
    border-radius: 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    text-transform: capitalize;
    padding: 8px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 10px;
    background: #7d7d7d;
}
.Cart-page .Checkout-buttons .btn-secondary:hover{
    background: #222222;
}


    /*category page styles*/
.Category-page .bread-crumb ul{
    padding: 10px 0;
    list-style: none;
    font-size: 13px;
    color: #adadad;
    text-transform: uppercase;
}
.Category-page .bread-crumb ul li{
    display: inline-block;
    margin: 3px 10px;
}
.Category-page .bread-crumb ul li .bread-crumb-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #adadad;
    font-weight: 500;
}
.Category-page .category-title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}


/*more in this collection styles*/
.More-collection{
    margin-top: 5%;
    padding: 20px;
}
.More-collection h5{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

/*.Prod-head h6{*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*}*/
/*.info{*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*}*/
