@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

.on-boarding-main{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background: #e8f3fc;
    color: #212529;
    font-family: 'Poppins', sans-serif;
}
.on-boarding-header{
    background: transparent;
    padding: 20px 30px 10px;

    box-shadow: 0px 1px 3px 1px rgba(184,181,181,0.75);
    -webkit-box-shadow: 0px 1px 3px 1px rgba(184,181,181,0.75);
    -moz-box-shadow: 0px 1px 3px 1px rgba(184,181,181,0.75);
}
.on-boarding-header ul{
    list-style: none;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}

.on-boarding-header .logo-fluid{
    width: 100%;
}
.on-boarding-header h5{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3E4095;
}

/*store pricing styles*/
.store-pricing{
    margin-top: 5%;
}
.store-pricing .title-section{
    width: 70%;
    margin: auto;
}
.store-pricing .title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #292b2e;
}

.store-pricing .title-section .sub-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #454647;
}
.store-pricing .card{
    border: 0px solid #3E4095;
    padding: 0;
    border-radius: 20px;

    box-shadow: 0px 1px 10px 2px rgba(82,82,82,0.75);
    -webkit-box-shadow: 0px 1px 10px 2px rgba(82,82,82,0.75);
    -moz-box-shadow: 0px 1px 10px 2px rgba(82,82,82,0.75);
}
.store-pricing .card .basic{
    background: #01885F;
}
.store-pricing .card .standard{
    background: #3E4095;
}
.store-pricing .card .premium{
    background: #022B39;
}
.store-pricing .card:hover{
    border: 1px solid #7c7d99;

    box-shadow: 0px 1px 3px 4px rgba(184,181,181,0.75);
    -webkit-box-shadow: 0px 1px 3px 4px rgba(184,181,181,0.75);
    -moz-box-shadow: 0px 1px 3px 4px rgba(184,181,181,0.75);
}

.store-pricing .card .card-header{
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.store-pricing .card .card-header h5{
    font-size: 25px;
    color: #ffffff;
    padding: 15px 10px;
    text-transform: uppercase;
}
.store-pricing .price-section hr{
    margin: 20px 0 30px;
}
.store-pricing .price-section .price-text{
    text-align: center;
}

.store-pricing .price-section .price-text h3.price{
    color: #3f4451;
    font-size: 50px;
    font-weight: 500;
}
.store-pricing .price-section .price-text h3.price .month{
    font-size: 14px;
    font-weight: 600;
}
.store-pricing .price-section .price-features{
    margin-top: 20px;
}
.store-pricing .price-section .price-features ul{
    list-style: none;
    padding: 0;
}
.store-pricing .price-section .price-features ul li{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    color:#505975;
    font-size: 14px;
    background: #F2F2F2;
    font-weight: 500;
}
.store-pricing .price-section .price-features .fas{
    font-weight: 700;
    padding-right: 10px;
}
.store-pricing .price-section .price-features .fas.fa-check{
    color: #348D0D;
}
.store-pricing .price-section .price-features .fas.fa-times{
    color: #FF343B;
}
.store-pricing .plan-button{
    text-align: center;
}
.store-pricing .plan-button .btn{
    width: 80%;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

/*buy domain styles*/
.buy-domain{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}
.buy-domain .title-section{
    margin: auto;
}
.buy-domain .title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #292b2e;
}

.buy-domain .form-group{
    margin: 40px 0;
    background: #3E4095;
    border: 1px solid #3E4095;
    padding: 30px 20px;
    border-radius: 5px;

    box-shadow: 0px 0px 6px 3px rgba(122,122,122,0.75);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(122,122,122,0.75);
    -moz-box-shadow: 0px 0px 6px 3px rgba(122,122,122,0.75);
}

.buy-domain .form-group .form-control{
    height: 55px;
    border-radius: 5px;
    color: #414241;
    width: 100%;
}
.buy-domain .form-group .form-control:focus{
    outline: none;
    box-shadow: none;
}

.buy-domain .form-group .form-control::placeholder{
    color: #525252;
}

.buy-domain .form-group .btn{
    height: 55px;
    width: 100%;
    background: #d1d1d1;
    border-radius: 5px;
    color: #3E4095;
    font-size: 16px;
    font-weight: 600;
}

.buy-domain .domain-checked{
    margin-top: 5%;
    margin-bottom: 5%;
    padding:  40px 20px 30px;
    background: #ffffff;
}
.buy-domain .domain-checked .row, .col-1, .col-9, .col-2{
    padding: 0;
    margin: 0;
}

.buy-domain .domain-checked .far{
    font-size: 70px;
}
.buy-domain .domain-checked .fa-check-circle{
    color: #1fc063;
}
.buy-domain .domain-checked .fa-times-circle{
    color: #e0324c;

}
.buy-domain .domain-checked h5{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
}

.buy-domain .domain-checked .success{
    color: #1fc063;
}

.buy-domain .domain-checked .error{
    color: #e0324c;
}
.buy-domain .domain-checked .price{
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}
.buy-domain .domain-checked .bold{
    font-weight: 600;
}

.buy-domain .domain-checked .btn{
    background: #edf7ec;
    color: #1fc063;
    font-weight: 500;
    font-size: 13px;
    border: 0px solid #1fc063;
    width: 100%;
    height: 40px;
}

.buy-domain .display-card .card{
    height: 150px;
    width: 100%;
    text-align: center;
}
.buy-domain .display-card .card .card-body{
    margin: auto;
}
.buy-domain .display-card .card .img-fluid{
    width: 60%;

}
.buy-domain .display-card .card p{
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}
.buy-domain .browse-extension{
    margin-top: 8%;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 30px;

    box-shadow: 0px 0px 3px 3px rgba(219,219,219,0.75);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(219,219,219,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(219,219,219,0.75);
}

.buy-domain .browse-extension .table thead th {
    font-size: 14px;
    font-weight: 600;
    color: #525252;
    padding: 10px 10px;
}
.buy-domain .browse-extension .table tbody td{
    color: #2e2e2e;
    font-size: 14px;
    padding-top: 10px;
}
.buy-domain .browse-extension .table tbody p{
    margin-bottom: 2px;
}
.buy-domain .browse-extension .table tbody p.domain-name{
    font-size: 14px;
    color: #525252;
    font-weight: 600;
}

.buy-domain .browse-extension .table tbody p.year{
    font-size: 14px;
    color: #939694;
    margin-bottom: 5px;
}

/*storetract payment styles*/
.store-payment{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}

.store-payment .card{
    padding: 0px 0px 10px;
    margin: 10px;
    background: #f5f5f5;

    box-shadow: 0px 0px 6px 1px rgba(209,209,209,0.75);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(209,209,209,0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(209,209,209,0.75);
}

.store-payment .card h5.title{
    font-size: 22px;
    font-weight: 700;
    color: #3E4095;
}

.store-payment .card .card-body .order-summary{
    margin-top: 20px;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}
.store-payment .card .card-body .order-summary h6{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.store-payment .card .card-body .order-summary .order-price h6{
    font-weight: 600;
    font-size: 16px;
}
.store-payment .card .card-body .order-summary .order-price .total{
    font-size: 20px;
 }

.store-payment .card .card-body .payment-button{
    text-align: center;
}
.store-payment .card .card-body .payment-button .btn{
    margin-top: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    background: #95933e;
    border: 1px solid #95933e;
    width: 80%;
    border-radius: 15px;
    padding: 12px 20px;

    box-shadow: 0px 0px 3px 1px rgba(138,138,138,0.75);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(138,138,138,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(138,138,138,0.75);
}

/*authentication box styles*/
.Auth-box{
    margin-bottom: 5%;
}
.Auth-box input#storeUrl{
    color: #3E4095;
    font-size: 12px;
    word-break: normal;
}


.store-activated{
    text-align: center;
    margin-top: 5%;
}
.store-activated .far{
    font-size: 120px;
    color: #1abc2e;
    margin-bottom: 20px;
}
.store-activated h5{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: #3E4095;
}

.store-activated .btn{
    width: 35%;
    color: #ffffff;
    background: #3E4095;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}


@media only screen and (max-width: 812px) {
    /*buy domain styles*/
    .buy-domain {
        margin-top: 5%;
    }

    .buy-domain .title-section {
        margin: auto;
    }

    .buy-domain .title {
        font-size: 25px;
    }

    .buy-domain .form-group {
        margin: 40px 0;
        padding: 30px 20px;
    }

    .buy-domain .form-group .form-control {
        height: 50px;
    }


    .buy-domain .form-group .btn {
        margin-top: 20px;
        height: 50px;
        width: 100%;
        font-size: 15px;
    }

    .buy-domain .domain-checked {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 40px 15px 30px;
        justify-content: center;
        text-align: center;
    }


    .buy-domain .domain-checked .row{
        justify-content: center;
    }

    .buy-domain .domain-checked .far {
        font-size: 70px;
        text-align: center;
    }

    .buy-domain .domain-checked h5 {
        font-size: 22px;
        font-weight: 400;
        margin: 10px 0 20px;
    }
    .buy-domain .domain-checked .price {
        font-size: 24px;
        line-height: 50px;
    }

    .buy-domain .domain-checked .btn {
        font-size: 13px;
        border: 0px solid #1fc063;
        width: 60%;
        height: 40px;
    }

    .buy-domain .display-card .card {
        height: 150px;
        width: 100%;
        text-align: center;
    }

    .buy-domain .display-card .card .card-body {
        margin: auto;
    }

    .buy-domain .display-card .card .img-fluid {
        width: 60%;
    }
    .buy-domain .display-card .card p {
        text-align: center;
        font-weight: 500;
        font-size: 13px;
    }

    .buy-domain .browse-extension {
        margin-top: 8%;
        background: #ffffff;
        border-radius: 5px;
        padding: 20px 30px;
    }

    .buy-domain .browse-extension .table thead th {
        font-size: 14px;
        font-weight: 600;
        color: #525252;
        padding: 10px 10px;
    }

    .buy-domain .browse-extension .table tbody td {
        color: #2e2e2e;
        font-size: 14px;
        padding-top: 10px;
    }

    .buy-domain .browse-extension .table tbody p {
        margin-bottom: 2px;
    }

    .buy-domain .browse-extension .table tbody p.domain-name {
        font-size: 14px;
        color: #525252;
        font-weight: 600;
    }

    .buy-domain .browse-extension .table tbody p.year {
        font-size: 14px;
        color: #939694;
        margin-bottom: 5px;
    }

    .store-payment .card{
        padding: 0px 0px 10px;
        margin: 0;
        background: #f5f5f5;
    }

    .store-payment .card h5.title{
        font-size: 20px;
        font-weight: 700;
        color: #3E4095;
    }

    .store-payment .card .card-body .order-summary{
        margin-top: 20px;
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .store-payment .card .card-body .order-summary h6{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .store-payment .card .card-body .order-summary .order-price h6{
        font-weight: 600;
        font-size: 15px;
    }
    .store-payment .card .card-body .order-summary .order-price .total{
        font-size: 17px;
    }
    .store-payment .card .card-body .payment-button .btn{
        margin-top: 30px;
        font-size: 14px;
        width: 80%;
        border-radius: 10px;
        padding: 8px 20px;
    }

}

@media only screen and (max-width: 600px) {

    .on-boarding-header{
        background: transparent;
        padding: 10px 10px 5px;
    }

    .on-boarding-header .logo-fluid{
        width: 80%;
    }

    /*store pricing styles*/
    .store-pricing{
        margin-top: 10%;
    }
    .store-pricing .title-section{
        width: 100%;
        margin: auto;
    }
    .store-pricing .title{
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        line-height: 35px;
        color: #292b2e;
    }

    .store-pricing .title-section .sub-title{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10%;
    }
    .store-pricing .card{
        border: 0px solid #3E4095;
        padding: 0;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .store-pricing .card .card-header{
        text-align: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .store-pricing .card .card-header h5{
        font-size: 20px;
        color: #ffffff;
        padding: 10px 10px;
        text-transform: uppercase;
    }

    .store-pricing .price-section .price-text h3.price{
        font-size: 45px;
    }
    .store-pricing .price-section .price-text h3.price .month{
        font-size: 12px;
        font-weight: 600;
    }

    .store-pricing .price-section .price-features ul li{
        font-size: 13px;
    }
    .store-pricing .plan-button .btn{
        font-size: 14px;

    }


    .store-activated{
        text-align: center;
        margin-top: 20%;
    }
    .store-activated .far{
        font-size: 80px;
        color: #1abc2e;
        margin-bottom: 20px;
    }
    .store-activated h5{
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 40px;
        color: #3E4095;
    }

    .store-activated .btn{
        width: 65%;
        padding: 10px 20px;
        font-size: 14px;
        margin-bottom: 20%;
    }

    /*buy domain styles*/
    .buy-domain {
        margin-top: 6%;
    }

    .buy-domain .title-section {
        margin: auto;
    }

    .buy-domain .title {
        font-size: 24px;
    }

    .buy-domain .form-group {
        margin: 40px 0;
        padding: 30px 15px;
    }

    .buy-domain .form-group .form-control {
        height: 50px;
        font-size: 13px;
    }
    .buy-domain .form-group .form-control::placeholder{
        font-size: 12px;
    }

    .buy-domain .form-group .btn {
        margin-top: 20px;
        height: 50px;
        width: 100%;
        font-size: 14px;
    }

    .buy-domain .display-card .card{
        height: 120px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .buy-domain .display-card .card .card-body{
        margin: auto;
    }
    .buy-domain .display-card .card .img-fluid{
        width: 60%;

    }
    .buy-domain .display-card .card p{
        font-size: 12px;
    }
    .buy-domain .browse-extension{
        margin-top: 8%;
        padding: 20px 10px;
    }

    .buy-domain .browse-extension .table thead th {
        font-size: 13px;
        padding: 10px 10px;
    }
    .buy-domain .browse-extension .table tbody td{
        color: #2e2e2e;
        font-size: 13px;
        padding-top: 5px;
    }
    .buy-domain .browse-extension .table tbody p{
        margin-bottom: 2px;
    }
    .buy-domain .browse-extension .table tbody p.domain-name{
        font-size: 13px;
        color: #525252;
        font-weight: 600;
    }

    .buy-domain .browse-extension .table tbody p.year{
        font-size: 12px;
        color: #939694;
        margin-bottom: 5px;
    }


    .buy-domain .domain-checked {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 40px 10px 30px;
        justify-content: center;
        text-align: center;
    }


    .buy-domain .domain-checked .far {
        font-size: 60px;
        text-align: center;
    }

    .buy-domain .domain-checked h5 {
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0 20px;
    }
    .buy-domain .domain-checked .price {
        font-size: 23px;
        line-height: 50px;
    }
    .buy-domain .domain-checked .btn {
        font-size: 12px;
        border: 0px solid #1fc063;
        width: 65%;
        height: 40px;
    }
    .store-payment .card{
        padding: 0px 0px 10px;
        margin: 10px;
        background: #f5f5f5;
    }

    .store-payment .card h5.title{
        font-size: 18px;
    }

    .store-payment .card .card-body .order-summary h6{
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .store-payment .card .card-body .order-summary .order-price h6{
        font-weight: 600;
        font-size: 14px;
    }
    .store-payment .card .card-body .order-summary .order-price .total{
        font-size: 16px;
    }
    .store-payment .card .card-body .payment-button .btn{
        margin-top: 30px;
        font-size: 13px;
        width: 80%;
        border-radius: 10px;
        padding: 8px 20px;
    }

}



